body {
    margin: 0px;
    padding: 0px;

}

h1 {
    background-color: blue;
    margin-top: 0px;
    text-align: center;
}



/*a {
    margin-left: 20px;
    /*text-decoration: none;
    color: #000;
}*/

footer {
    margin-top: 30px;
}